@import "tailwindcss";

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.nav-link {
  color: #292623;
  transition: color 150ms ease;
  font-weight: 500;
  font-size: large;
}
.nav-link:hover {
  color: #696161;
}

