@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.nav-link {
  color: #292623;
  transition: color 150ms ease;
  font-weight: 500;
  font-size: large;
}

.nav-link:hover {
  color: #696161;
}

/* Styles for the "Entrar" button */
/* Styles for the "Entrar" button */
.btn-entrar {
  position: relative;
  background-image: url('/Assets/boton-entrar-enviar.png');
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}

.btn-entrar:hover {
  transform: scale(1.05); /* Crece ligeramente */
  
}

/* Fonts */
@font-face {
  font-family: 'MyCustomFont';
  src: url('/Fonts/KGMidnightMemories.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-custom {
  font-family: 'MyCustomFont', serif !important;
}

@font-face {
  font-family: 'FontTitle';
  src: url('/Fonts/Minya.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-title {
  font-family: 'FontTitle', serif !important;
}

